{% extends "core/base.html" %} {# O la ruta a tu base.html #}
{% load crispy_forms_tags %}

{% block titulo_pagina %}Iniciar Sesión{% endblock %}
{% block titulo_seccion %}Iniciar Sesión{% endblock %}

{% block contenido %}
    {% if form.errors %}
        <div class="alert alert-danger">
            Tu nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert alert-warning">
              Tu cuenta no tiene acceso a esta página. Para proceder,
              por favor inicia sesión con una cuenta que tenga acceso.
            </div>
        {% else %}
             <div class="alert alert-info">
                Por favor, inicia sesión para ver esta página.
             </div>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {# Renderiza el formulario de login de Django con crispy #}
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary mt-3">
            <i class="fas fa-sign-in-alt me-1"></i> Iniciar Sesión
        </button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p> #}
{% endblock %}
